$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$yellow: #ffed00;
$yellow-hover: #FFD633;
$dark-grey-bg: #231f20;
$color-white: #FFF;
$grey-bg: #7A7A7A;
$dark-grey-color: #555;
$grey-border-color: #4F4D4C;